*{
    font-family: "Kanit", sans-serif;
}
.unselectable{
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.help-block{
    margin-bottom: 1px;
}
.page_title{
    margin-top: 50px;
    font-weight: 200;
}
.page_title b{
    font-weight: 400;
    color: #FA66C4;
}
.text-light{
    font-weight: 200 !important;
}
.text-semilight{
    font-weight: 300;
}
.card-row .col{
    margin-top: 10px;
}
.text-pink{
    color: #FA66C4;
}
.contactInfoRow{
    font-size: 1.2em;
    font-weight: 300;
}
.nuancedlink{
    text-decoration: none;
    color: inherit;
}
.nuancedlink:hover{
    text-decoration: none;
    color: inherit;
}
body{
    padding-bottom: 130px;
}
