body{
    background: #fcfcfc;
}
.landingpage_container {
    margin-top: 30px;
}
.landingpage_title {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    letter-spacing: 2px;
}
.landingpage_title b {
    font-family: "Kanit", sans-serif;
    color: #FA66C4;
    font-weight: 300;
}
.landingpage_iam{
    font-weight: 200;
    margin-top: 35px;
    margin-bottom: 0px;
    font-size: 2.25em;
    letter-spacing: .05em;
}
.landing_well_title{
    font-weight: 300;
}
.landing_button_row{
    margin-top: 180px;
}
@media (max-width: 992px) {
    .landing_button_row{
        margin-top: 100px;
    }
}
.landing_button_well{
    margin-bottom:0px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: rgba(255,255,255,0);
}
.landing_button_well h3{
    font-weight: 300;
    margin-top:30px;
    margin-bottom:5px;
}
.landing_button_well h6{
    font-weight: 300;
    margin-top:0px;
    margin-bottom:30px;
}
.landing_button_well h3:hover{
    color:#111;
}
@media (min-width: 992px) {
    .row.landing_button_row [class*='col-']:not(:last-child):not(.novert):after {
      background: #e0e0e0;
      width: 1px;
      content: "";
      display:block;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      min-height: 50px;
      height:100%;
    }
}
.section_header{
    font-weight: 200;
    letter-spacing: .03em;
    margin: 35px 0;
}
.news-body{
    min-height: 160px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.footer_link{
    color: #FF85D2;
    text-decoration: none;
}
.footer_link:hover{
    color: #FA66C4;
    text-decoration: none;
}
.footer_link:visited{
    color: #FF85D2;
    text-decoration: none;
}
.footer_link:active{
    text-decoration: none;
}
.panel-footer{
    font-weight: 300;
    font-size: 1.2em;
}
h4{
    font-weight: 300;
}
.mainrow{
    margin-top: 50px;
}
